@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
<div class="w3-row w3-margin-bottom">
    <div onclick="$('#generaltab').toggle();" class="w3-button w3-block w3-theme w3-left-align w3-round-large " style="margin-bottom:8px;">
        <strong>@ResourceKey("DNNrocket.general")</strong>
        <span id="generaltabexpand" class="material-icons w3-right">
            unfold_more
        </span>
    </div>
    <div id="generaltab" class='w3-row sectionname w3-border w3-padding w3-round-large'>
        [INJECT:appthemesystem,AdminGeneral.cshtml]
    </div>
</div>
